@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
  font-family: "BlackHanSans";
  src: url("../fonts/BlackHanSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

.titulo {
  font-family: "BlackHanSans", sans-serif;
 
}


.header{
  background:blue;
 object-fit: cover;
 background-position: center 0;
 background-repeat: no-repeat;

}